<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：赛事/竞赛规程</h2>
            <!-- <div class="search"><input type="text" value="搜索关键字" /><button>搜索</button></div> -->
        </div>
        <div class="m_body">
        	<div class="competition">
            	<div class="rule_list">
                	<ul>
                    	<li><a href="#" title="OP帆船"><img src="<%= static_url "/images/rule_01.png" %> " alt="OP帆船" /><p>OP帆船</p></a></li>
                        <li><a href="#" title="棒球"><img src="<%= static_url "/images/rule_02.png" %> " alt="棒球" /><p>棒球</p></a></li>
                        <li><a href="#" title="蹦床"><img src="<%= static_url "/images/rule_03.png" %> " alt="蹦床" /><p>蹦床</p></a></li>
                        <li><a href="#" title="冰壶"><img src="<%= static_url "/images/rule_04.png" %> " alt="冰壶" /><p>冰壶</p></a></li>
                        <li><a href="#" title="帆板"><img src="<%= static_url "/images/rule_05.png" %> " alt="帆板" /><p>帆板</p></a></li>
                        <li><a href="#" title="高尔夫"><img src="<%= static_url "/images/rule_06.png" %> " alt="高尔夫" /><p>高尔夫</p></a></li>
                        <li><a href="#" title="国际式摔跤"><img src="<%= static_url "/images/rule_07.png" %> " alt="国际式摔跤" /><p>国际式摔跤</p></a></li>
                        <li><a href="#" title="花样滑冰"><img src="<%= static_url "/images/rule_08.png" %> " alt="花样滑冰" /><p>花样滑冰</p></a></li>
                        <li><a href="#" title="花样游泳"><img src="<%= static_url "/images/rule_09.png" %> " alt="花样游泳" /><p>花样游泳</p></a></li>
                        <li><a href="#" title="击剑"><img src="<%= static_url "/images/rule_10.png" %> " alt="击剑" /><p>击剑</p></a></li>
                        <li><a href="#" title="举重"><img src="<%= static_url "/images/rule_11.png" %> " alt="举重" /><p>举重</p></a></li>
                        <li><a href="#" title="篮球"><img src="<%= static_url "/images/rule_12.png" %> " alt="篮球" /><p>篮球</p></a></li>
                        <li><a href="#" title="垒球"><img src="<%= static_url "/images/rule_13.png" %> " alt="垒球" /><p>垒球</p></a></li>
                        <li><a href="#" title="马术"><img src="<%= static_url "/images/rule_14.png" %> " alt="马术" /><p>马术</p></a></li>
                        <li><a href="#" title="排球"><img src="<%= static_url "/images/rule_15.png" %> " alt="排球" /><p>排球</p></a></li>
                        <li><a href="#" title="皮划艇"><img src="<%= static_url "/images/rule_16.png" %> " alt="皮划艇" /><p>皮划艇</p></a></li>
                        <li><a href="#" title="乒乓球"><img src="<%= static_url "/images/rule_17.png" %> " alt="乒乓球" /><p>乒乓球</p></a></li>
                        <li><a href="#" title="曲棍球"><img src="<%= static_url "/images/rule_18.png" %> " alt="曲棍球" /><p>曲棍球</p></a></li>
                        <li><a href="#" title="拳击"><img src="<%= static_url "/images/rule_19.png" %> " alt="拳击" /><p>拳击</p></a></li>
                        <li><a href="#" title="柔道"><img src="<%= static_url "/images/rule_20.png" %> " alt="柔道" /><p>柔道</p></a></li>
                        <li><a href="#" title="赛艇"><img src="<%= static_url "/images/rule_21.png" %> " alt="赛艇" /><p>赛艇</p></a></li>
                        <li><a href="#" title="沙滩排球"><img src="<%= static_url "/images/rule_22.png" %> " alt="沙滩排球" /><p>沙滩排球</p></a></li>
                        <li><a href="#" title="射击"><img src="<%= static_url "/images/rule_23.png" %> " alt="射击" /><p>射击</p></a></li>
                        <li><a href="#" title="射箭"><img src="<%= static_url "/images/rule_24.png" %> " alt="射箭" /><p>射箭</p></a></li>
                        <li><a href="#" title="手球"><img src="<%= static_url "/images/rule_25.png" %> " alt="手球" /><p>手球</p></a></li>
                        <li><a href="#" title="水球"><img src="<%= static_url "/images/rule_26.png" %> " alt="水球" /><p>水球</p></a></li>
                        <li><a href="#" title="跆拳道"><img src="<%= static_url "/images/rule_27.png" %> " alt="跆拳道" /><p>跆拳道</p></a></li>
                        <li><a href="#" title="体操"><img src="<%= static_url "/images/rule_28.png" %> " alt="体操" /><p>体操</p></a></li>
                        <li><a href="#" title="田径"><img src="<%= static_url "/images/rule_29.png" %> " alt="田径" /><p>田径</p></a></li>
                        <li><a href="#" title="跳水"><img src="<%= static_url "/images/rule_30.png" %> " alt="跳水" /><p>跳水</p></a></li>
                        <li><a href="#" title="现在五项"><img src="<%= static_url "/images/rule_31.png" %> " alt="现在五项" /><p>现在五项</p></a></li>
                        <li><a href="#" title="艺术体操"><img src="<%= static_url "/images/rule_32.png" %> " alt="艺术体操" /><p>艺术体操</p></a></li>
                        <li><a href="#" title="武术套路"><img src="<%= static_url "/images/rule_33.png" %> " alt="武术套路"/><p>武术套路</p></a></li>
                        <li><a href="#" title="武术散打"><img src="<%= static_url "/images/rule_34.png" %> " alt="武术散打" /><p>武术散打</p></a></li>
                        <li><a href="#" title="网球"><img src="<%= static_url "/images/rule_35.png" %> " alt="网球" /><p>网球</p></a></li>
                        <li><a href="#" title="游泳"><img src="<%= static_url "/images/rule_36.png" %> " alt="游泳" /><p>游泳</p></a></li>
                        <li><a href="#" title="羽毛球"><img src="<%= static_url "/images/rule_37.png" %> " alt="羽毛球" /><p>羽毛球</p></a></li>
                        <li><a href="#" title="自行车"><img src="<%= static_url "/images/rule_38.png" %> " alt="自行车" /><p>自行车</p></a></li>
                        <li><a href="#" title="足球"><img src="<%= static_url "/images/rule_39.png" %> " alt="足球" /><p>足球</p></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>