<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>上海市运动会</title>
<link href="<%= static_url "/style/style.css" %>" rel="stylesheet" type="text/css" />
<script src="<%= static_url "/js/jquery.js" %>"></script>
<script src="<%= static_url "/js/main.js" %>"></script>
<script src="<%= static_url "/js/countDown.js" %>"></script>
<style type="text/css">
  .hidden {
    display:none;
  }
</style>
<script type="text/javascript">
  window.intDiff = <%= @opening_time > 0 ? @opening_time : 0 %>; //倒计时总秒数量
</script>
</head>

<body>
<div class="head">
    <div class="box">
      <div class="head_countDown">
                <h1>上海市第十五届运动会</h1>
                <div class="hidden" id="opening_time_clock">
                  <div class="countDown"><p>距上海市第十五届运动会开幕还有</p>
                    <div class="time-item">
                        <span id="day_show">0天</span>
                        <strong id="hour_show">0时</strong>
                        <strong id="minute_show">0分</strong>
                        <strong id="second_show" style="margin-right:0;">0秒</strong>
                    </div>
                  </div>
                </div>
        </div>
        <div class="nav">
          <ul class="firstMenu">
              <li class="home"><a href="/">首页</a></li>
                <li><span>资讯</span>
                  <div class="secondMenu">
                      <a href="/zwh">组委会</a>
                        <a href="/tzgg">通知公告</a>
                        <a href="/ssxw">赛事新闻</a>
                        <a href="http://shqx.shsports.gov.cn/WebSite/html/QX/qx_shhxsydh/List/list_0.htm" target="_blank">青训速递</a>
                    </div>
                </li>
                <li><span>赛事</span>
                  <div class="secondMenu liw">
                      <a href="/jsrc">竞赛日程</a>
                        <a href="/jsgc">竞赛规程</a>
                        <a href="/phb">排行榜</a>
                        <a href="/dxcj">单项成绩</a>
                        <a href="/ccjl">超创记录</a>
                    </div>
                </li>
                <li><span>服务</span>
                  <div class="secondMenu">
                      <a href="/ssjt">赛事交通</a>
                        <a href="/dhwj">大会文件</a>
                        <a href="/xzzx">下载中心</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<%= yield %>

<div class="foot"></div>

</body>
</html>
